<div class="jumbotron" ng-controller="AddPostCtrl">
    <form action="" style="margin-top: 30px;">
        <h3>Add a new post</h3>
        <table>
            <tr>
                <td>
                    <label>Title:</label>
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="title" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Body:</label>
                </td>
                <td>
                    <textarea class="form-control" ng-model="body"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Link:</label>
                </td>
                <td>
                    <input class="form-control" type="text" ng-model="link"></input>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <md-button class="button" ng-click="addPost()">Submit</md-button>
                </td>
            </tr>
            <table>
    </form>
</div>