<div class="jumbotron" ng-controller="PostsCtrl">
    <md-button class="button" ng-click="postRedirect()">New post</md-button>
    <div ng-repeat="post in posts | orderBy: '-votes'">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(post)"></span>
        <br>
        <span style="margin-right: 2%; margin-left: 0.1%;">{{post.votes}}</span>
        <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
        <span ng-hide="post.link">{{post.title}}</span>
        <span class="small"><a href="#/posts/{{post._id}}">Comments</a></span>
        <br>
        <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(post)"></span>
        <br>
        <br>
    </div>
</div>