<div class="jumbotron" ng-controller="MainCtrl">
    <form action="" id="myLogin">
        <div class="alert alert-error" ng-bind="error"></div>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1">Username</span>
            <input type="text" class="form-control" id="username" ng-model="username">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock" id="basic-addon1">Password</span>
            <input type="password" class="form-control" id="password" ng-model="password">
        </div>
        <br>
        <div class="flex flex-around">
            <md-button class="button" ng-click="login()">Login</md-button>
            <md-button class="button" ng-click="registerredirect()">Register</md-button>
        </div>
    </form>
</div>