<div class="jumbotron" ng-controller="SinglePostCtrl">
    <div class="alert alert-error" ng-bind="error"></div>
    <div class="page-header container">
        <h3>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        <h3>{{post.title}} - {{post.authorname}}<h3><br>
        Message: <br>{{post.body}}<br>
      </span>
    </h3>
    </div>
    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(comment)"></span> {{comment.votes}} - by {{comment.authorname}}:
        <span style="font-size:20px; margin-left:10px;">
      {{comment.comment}}
    </span>
    </div>
    <!-- post template -->
    <form ng-submit="addComment()" style="margin-top:30px;">
        <h3>Add a new comment</h3>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
        </div>
        <md-button class="button" ng-click="addComment()">Post</md-button>
    </form>
</div>