<div class="jumbotron" ng-controller="MainCtrl">
    <form action="" id="myRegistration">
        <div class="error" ng-bind="error"></div>
        <div class="input-group">
            <span class="glyphicon glyphicon-user" id="basic-addon1">Username</span>
            <input name="username" ng-model="username" required minlength="3">
        </div>
        <div class="input-group">
            <span class="glyphicon glyphicon-envelope">E-mail</span>
            <input type="email" ng-required id="email" ng-model="email">
        </div>
        <div class="input-group">
            <span class="glyphicon glyphicon-lock">Password</span>
            <input type="password" id="password" ng-required ng-model="password">
        </div>
        <div class="input-group">
            <span class="glyphicon glyphicon-lock">Confirm password</span>
            <input type="password" ng-required id="confirmpassword" ng-model="confirmpassword">
        </div>
        <div class="input-group">
            <span class="glyphicon glyphicon-user">First name</span>
            <input type="text" ng-required id="firstName" ng-model="firstName">
        </div>
        <div class="input-group">
            <span class="glyphicon glyphicon-user">Last name</span>
            <input type="text" ng-required id="lastName" ng-model="lastName">
        </div>
        <div class="input-group">
            <span class="glyphicon glyphicon-calendar">Gender</span>
            <input type="text" ng-required id="gender" ng-model="gender">
        </div>
        <div class="flex flex-around">
            <md-button class="md-raised md-primary button btn" ng-click="register()">Register</md-button>
        </div>
    </form>
</div>